#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
}

#bodyContent {
  display: flex;
  gap: 2.5rem;
}

.tableOfContent > ul {
  list-style-type: none;
  line-height: 2rem;
  font-size: 0.8125rem;
  line-height: 280%; /* 2.275rem */
  letter-spacing: 0.01625rem;
  /* color: #8E8E8E; */
  padding-left: 0;
  font-weight: 500;
}

.tableOfContent > ul > li:first-of-type {
  font-weight: 900;
}
